<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Product</title>
        
        <style>
            #producttable{
                border: 1px solid black;
            }
            .row, .col{
                border: 1px solid black;
                margin: 0;
                padding-left: 5px;
                padding-right: 5px;
            }
            .box{
                text-align: center;
            }
             input[type="submit"]{
                margin: 5px;
                margin-left: auto;
                margin-right: auto;
            } 
        </style>
    </head>
    <body>
        <%-include('header.ejs') %>
        
        <div class="container">
            <form action="/product/addToCart" method="post">
                <input type="submit" id="submit" value="Add to Card">
            </form>
        </div>
        <div class="container">
            <table id="producttable">
                <thead>
                    <tr class="row">
                        <th class="col">Name</th>
                        <th class="col">Price</th>
                        <th class="col">Description</th>
                        <th class="col">ID</th>
                        <th class="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < products.length; i++) {%>
                    <tr class="row">
                        <td class="col"><%=products[i].getName() %></td>
                        <td class="col"><%=products[i].getPrice() %></td>
                        <td class="col"><%=products[i].getDescription() %></td>
                        <td class="col"><%=products[i].getId() %></td>
                        <td class="col box"><input type="checkbox" class="select"> </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

        </div>

        <%-include('footer.ejs') %>
    </body>
    
</html>